* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
    color: hsl(0, 0%, 19%);
}

a,
button,
i,
.menu-item,
.menu-item i {
    transition: color   0.4s;
}

a:hover,
button:hover,
i:hover {
    color: orange;
}
#myTeam,#Profile,#Individual{
    text-decoration: none;
}

body {
    min-height: 100vh;
    font-size: 14px;
    background: linear-gradient(135deg, #4e4d4d, #f18a03);
    padding: 40px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------    Menu  -------------- */

.menu {
    background-color: #fff;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    z-index: 2;
    margin-right: 2rem;
}


.menu-item {
    width: 75px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.5px;
    font-weight:bold;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.menu-item i {
    font-size: 1.2em;
    margin-bottom: 8px;
}

.menu-item.active,
.menu-item:hover,
.menu-item.active i,
.menu-item:hover i {
    color: orange;
}


/* ---------------    Profile  -------------- */

.img-container {
    position: relative;
    background: url('./images/img.jpg') no-repeat;
    background-size: cover;
    min-height: 350px;
    background-position: 0 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
margin-left: -1.5rem;
    
}

.profile {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 70px;
    max-height: 90vh;
    min-width: 340px;
    border-radius: 4px;
    margin-left: 0rem;
    box-shadow: 8px 8px 10px rgba(230, 142, 11, 0.15);
}

.profile-body {
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: -1.5rem;
}

.name {
    margin: 32px auto 12px;
    font-size: 2.2em;
    letter-spacing: 1px;
}

.role {
    color: orange;
    margin-bottom: 20px;
    font-size: 1.2em;
    letter-spacing: 1px;
}

.socials a {
    text-decoration: none;
    margin: 8px;
}

.actions {
    position: relative;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: -1.5rem;
}

button {
    border: none;
    outline: none;
    background: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.profile::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  #7a7878;
    transform: translate(-20px, -20px);
    border-radius: 4px;
}

/* ---------------    Main  -------------- */

.main {
    max-height: 80vh;
    overflow-y: auto;
    background-color: #fff;
    align-self: center;
    border-radius: 4px;
    margin-left:1rem;
}

.main * {
    color: #656565;
}

/* ---------------    About me  -------------- */

.title {
    font-size: 1.4em;
    letter-spacing: 1px;
    color: #313131;
    font-weight: bold;
    text-transform: capitalize;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.title2 {
    font-size: 1em;
    letter-spacing: 1px;
    color: #313131;
    font-weight: bold;
    text-transform: capitalize;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-left: 30px;
}

.title span {
    color: orange;
}

.section-item {
    padding: 24px;
    padding-left: 32px;
}

.asset-body {
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 28px;
}

.split .asset-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.item label {
    background-color: orange;
    color: #fff;
    padding: 0 6px;
    border-radius: 4px;
}

.item label span {
    color: #fff;
    letter-spacing: 3px;
}



/* ---------------    Main Domains  -------------- */

.domains {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-items: space-between;
    align-items: flex-start;
}

.section-item .domain-item {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px 12px;
}

.section-item .domain-item i {
    width: 48px;
    height: 48px;
    background-color: orange;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.domain-name {
    color: #313131;
    font-weight: bold;
    margin: 16px auto 12px;
}

.domains {
    justify-content: space-around;
}



/* ---------------    Resume  -------------- */

.section-item .title {
    font-size: 1.1em;
    border: none;
}

.section-sub-item {
    margin-top: 28px;
}

.time {
    color: orange;
    border: 1px solid;
    padding: 0 6px;
    border-radius: 4px;
    display: inline-block;
    font-size: 0.9em;
    line-height: 18px;
    margin-bottom: 12px;
}

.item-name {
    color: #313131;
    font-size: 1.2em;
}

.additional-info {
    margin-bottom: 12px;
    font-size: 0.9em;
}


/* -----------------CVS web page Styling------------------- */
section .CVS{
    padding: 100px 0;
    position: absolute;
}
.CVS .title1{
    position: relative;
text-align:center;
font-size: 30px;
font-weight: 500px;
margin-bottom: 30px;
padding-bottom: 10px;
font-family: 'Montserrat', sans-serif; 
padding-left: 30px;
}
.CVS .title1::before{
    content: "";
    position: absolute;
    bottom: 7px;
    left: 50px;
    width: 1083px;
    height: 3px;
    background: #054d4a;
    transform: translateX(-32%);
}

.CVS .title1::after{
    text-align:center;
    content: "";
    position: absolute;
    bottom: -25px;
    left: 50px;
    font-size: 17px;
    color: #054d4a;
   padding: 5px;
   padding-left:350px ;
    /* background: rgb(41, 209, 209); */
    transform: translateX(-32%);
}
/*new edit*/
.CVS {
    max-height: 80vh;
    overflow-y: auto;
    background-color: rgb(221, 218, 218);
    align-self: center;
    border-radius: 4px;
    width: 800px; /*new one*/
    
}

.CVS * {
    color: #656565;
}
.CVS .content .cards{
    background-color: white;
    /* background:#838d8c; */
    border-radius: 5px;
    padding: 55px 35px;
    text-align: center;
 border: #313131 ;
    transition:all 0.3s ease;
}
.CVS .content .cards:hover{
    background: rgb(173, 172, 171);
}
.CVS .content .cards:hover .grid-box{
    transform: scale(1.05);
}


.CVS .content .cards .grid-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition:all 0.3s ease;
    padding-bottom: 20px;
}
.CVS .content .cards .name{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
/*trying to fix the Card Problem */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    margin-right: 30px;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  .cv-download {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: orange;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .cv-download:hover{
      color: #4e4d4d;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

/*trying to fix the Card Problem */


.CVS .content .cards img{
    
   
    
}

.CVS .content .cards:hover img{
     border-color: rgb(255, 253, 250);
}
/*displaying the pic"cards"*/
.content {
    
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    grid-gap:20px;
    grid-row-gap: 20px;
    margin-left: 10px;
    margin-top: 30px;
  
}
.grid-box{
    width: 100%;
}


/* ------------   RESPONSIVENESS ----------- */

@media (max-width: 1100px) {
    body {
        flex-wrap: wrap;
        padding: 80px 40px;
    }

    .menu {
        position: fixed;
        top: 12px;
        margin-top: 0;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: row;
        overflow-y: hidden;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    }

    .menu-item {
        width: 95px;
        height: 65px;
    }

    .profile,
    .main {
        min-width: 550px;
        width: 550px;
        margin: 12px;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    }

    .profile {
        grid-template-rows: 1fr 170px 70px;
    }

    .main {
        max-height: unset;
    }

    .domains {
        justify-content: center;
    }
}

@media (max-width: 650px) {
    body {
        padding: 80px 16px;
    }

    .profile,
    .main {
        min-width: unset;
        width: 100%;
        margin: 12px;
    }

    .split .asset-body {
        grid-template-columns: 1fr;
    }

    .section-item .domain-item {
        margin-bottom: 16px;
    }

    .asset-body.grid {
        justify-content: center;
    }

}















/* ---   Scrollbar styling --- */

body ::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
    border: 4px solid #fff;
}

